# name: lab4_

services:
  leader:
    build: ./leader/
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - QUORUM=${quorum}
      
      - MIN_DELAY=0
      - MAX_DELAY=1000
      - FALLOWERS=follower1,follower2,follower3,follower4,follower5
    networks:
      - kv-network

  follower1:
    build: ./fallower/
    environment:
      - PORT=8080
    networks:
      - kv-network

  follower2:
    build: ./fallower/
    environment:
      - PORT=8080
    networks:
      - kv-network

  follower3:
    build: ./fallower/
    environment:
      - PORT=8080
    networks:
      - kv-network

  follower4:
    build: ./fallower/
    environment:
      - PORT=8080
    networks:
      - kv-network

  follower5:
    build: ./fallower/
    environment:
      - PORT=8080
    networks:
      - kv-network

networks:
  kv-network:
    driver: bridge
